.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.container-tags-home {
  width: 100%;
  height: 67.96upx;
  /*display: flex;*/
  color: #808080;
  font-size: 25.96upx;
  /*padding: 0 31.96upx;*/
  background: #FFF;
  justify-content: space-around;
  }
.container-tags-home .container-allTags {
  position: relative;
  line-height: 67.96upx;
  padding-right: 18upx;
  padding-left: 31.96upx;
  font-size: 30upx;
  float: left;}
.container-tags-home .container-allTags.active {
  font-family:PingFangSC-Medium;
  color: #444444;}
.container-tags-home .activeLine {
  width: 31.96upx;
  height: 7.96upx;
  border-radius: 49.96upx;
  display: inline-block;
  background: #03AEF9;
  position: absolute;
  bottom: 3.98upx;
  left: 50%;
  transform: translateX(-50%);}
.container-tags-home .container-allTags .allTagsLine {
  margin-left: 6upx;
  bottom: 1.96upx;
}
.container-tags-home .container-tabLabels {
  width: 630upx;
  line-height: 67.96upx;
  position: absolute;
  height:33px;
}
.container-tags-home .container-tabLabels .tab {
  position: relative;
  border: none;
  padding: 0 18upx;
  margin-right: 0;}
.container-tags-home .container-moreIcon {
  font-size: 31.96upx;
  color: #808080;
  line-height: 67.96upx;
  padding-left: 18upx;
  padding-right: 31.96upx;
  float: right;}
.container-tags-home .line-river-after-short:after {
  left: 0;
  right: 0;}

.container-tabLabels .tab {
  display: inline-block;
  color: #808080;
  font-size: 30upx;
  border: 1.96upx solid #DCDCDC;
  padding: 9.98upx 19.96upx;
  border-radius: 7.96upx;
  margin-right: 9.98upx; }
.container-tabLabels .tab.active {
  color: #444;
  border: none;
  font-family:PingFangSC-Medium; }
	
.uni-article-title {
    word-break: break-all;
    display: -webkit-box;
    overflow: hidden;
	  line-height:1.5;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}