.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.container-control-logoAndTabsAndSearch {
  height: 87.98upx;
  line-height: 87.98upx;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
.container-control-logoAndTabsAndSearch .addIcon {
  font-size: 36upx;
  color: #444444;
  padding-left: 30upx;
}
.container-control-logoAndTabsAndSearch .logoIcon {
  font-size: 162upx;
  position: relative;
  top: -30upx;
  left: 21.98upx;
  color: #3c3e44; }
.container-control-logoAndTabsAndSearch .splitCircle {
  display: inline-block;
  margin-top: 42upx;
  margin-left: 54upx;
  border-radius: 50%;
  width: 7.96upx;
  height: 7.96upx;
  background: #B4B4B6; }
.container-control-logoAndTabsAndSearch .logoAndTabsAndSearchTabs {
  color: #B4B4B6;
  margin-left: 19.96upx; }
.container-control-logoAndTabsAndSearch .logoAndTabsAndSearchTabs .tab {
  margin: 0 19.96upx;
  font-size: 31.96upx;
  display: inline-block; }
.container-control-logoAndTabsAndSearch .logoAndTabsAndSearchTabs .tab.active {
  color: #444444;
  position: relative;
  font-family: PingFangSC-Medium; }
.container-control-logoAndTabsAndSearch .logoAndTabsAndSearchTabs .tab.active:after {
  position: absolute;
  bottom: 7.96upx;
  left: 15.98upx;
  right: 0;
  width: 31.96upx;
  content: '';
  text-align: center;
  background-color: #03AEF9;
  height: 7.96upx;
  border-radius: 234upx;;}
.container-control-logoAndTabsAndSearch .searchIcon {
  font-size: 36upx;
  color: #444;
  position: absolute;
  right: 33.98upx;
  top: 27.98upx; }
.container-control-logoAndTabsAndSearch .topSearchWrapper {
  margin-top: 9.98upx;
  margin-left: 34.50upx;}
.container-control-logoAndTabsAndSearch .topSearchWrapper .searchFrame {
  width: 619.96upx;
  height: 67.96upx;
  padding-left: 19.96upx;
  line-height: 67.96upx;
  background: #F3F4F6;
  color: #C8C8C8;
  border-radius: 199.96upx;}
.container-control-logoAndTabsAndSearch .topSearchWrapper .searchFrame span {
  font-size: 27.98upx;
}
.container-control-logoAndTabsAndSearch .topSearchWrapper .searchFrame .icon {
  font-size: 33.98upx;}
.container-control-logoAndTabsAndSearch.searchBoxShadow {
  box-shadow:0upx 3.98upx 51.98upx 0upx rgba(240,242,245,1);
}


.container-tags-home {
  width: 100%;
  height: 67.96upx;
  /*display: flex;*/
  color: #808080;
  font-size: 25.96upx;
  /*padding: 0 31.96upx;*/
  background: #FFF;
  justify-content: space-around;
  box-shadow:0upx 15.0upx 22.50upx 0upx rgba(240,242,245,1);}
.container-tags-home .container-allTags {
  position: relative;
  line-height: 67.96upx;
  padding-right: 18upx;
  padding-left: 31.96upx;
  font-size: 30upx;
  float: left;}
.container-tags-home .container-allTags.active {
  font-family:PingFangSC-Medium;
  color: #444444;}
.container-tags-home .activeLine {
  width: 31.96upx;
  height: 7.96upx;
  border-radius: 49.96upx;
  display: inline-block;
  background: #03AEF9;
  position: absolute;
  bottom: 3.98upx;
  left: 50%;
  transform: translateX(-50%);}
.container-tags-home .container-allTags .allTagsLine {
  margin-left: 6upx;
  bottom: 1.96upx;
}
.container-tags-home .container-tabLabels {
  width: 630upx;
  line-height: 67.96upx;
  float: left;}
.container-tags-home .container-tabLabels .tab {
  position: relative;
  border: none;
  padding: 0 18upx;
  margin-right: 0;}
.container-tags-home .container-moreIcon {
  font-size: 31.96upx;
  color: #808080;
  line-height: 67.96upx;
  padding-left: 18upx;
  padding-right: 31.96upx;
  float: right;}
.container-tags-home .line-river-after-short:after {
  left: 0;
  right: 0;}

.container-tabLabels .tab {
  display: inline-block;
  color: #808080;
  font-size: 30upx;
  border: 1.96upx solid #DCDCDC;
  padding: 9.98upx 19.96upx;
  border-radius: 7.96upx;
  margin-right: 9.98upx; }
.container-tabLabels .tab.active {
  color: #444;
  border: none;
  font-family:PingFangSC-Medium; }